{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start" scope="col">Symbol</th>
                <th class="text-start" scope="col">Name</th>
                <th class="text-end" scope="col">Shares</th>
                <th class="text-end" scope="col">Price</th>
                <th class="text-end" scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row['symbol'] }}</td>
                    <td>{{ row['name'] }}</td>
                    <td>{{ row['shares'] }}</td>
                    <td>{{ row['price'] }}</td>
                    <td>{{ row['total'] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td><td></td><td></td>
                <td class="border-0 fw-bold text-end">{{ cash }}</td>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td>
                <td class="border-0 fw-bold text-end"><b>{{ user_total }}</b></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
